:root {
    --Large-Font-Color: rgb(27, 21, 93); 
    --Large-Font-Size: 30px;
    --Large-Font-Weight: bolder;
    --Large-Font-Background: rgb(240, 213, 218);
    --Nav-Background-Color: rgb(27, 21, 93); 
    --Nav-Font-Color: rgb(240, 213, 218);
    --Body-Background-Color: rgb(200, 203, 239); 
    --Section-Border-Color: rgb(27, 21, 93);
}

.container {
    padding: 20px 175px;
 } 

 nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Nav-Background-Color);
    padding: 20px;
    color: var(--Nav-Font-Color);
 }

 .Name-At-Top-1 {
    margin-left: 20px;
    background-color: var(--Large-Font-Background);
    font-size: var(--Large-Font-Size);
    font-weight: var(--Large-Font-Weight);
    color: var(--Large-Font-Color);
 }

 .Name-At-Top-2 {
   margin-right: 20px;
 }

 header {
    display: flex; 
    justify-content: right; 
    align-items: flex-end;
    font-size: 20px; 
    font-weight: bolder;
    color: var(--Large-Font-Color);
    background-image: url("./images/header-background/barn-wood-2.jpeg");
    padding: 10px;
    height: 100px;
 }

 .Name-At-Top-3 {
   margin-right: 20px;
   background-color: var(--Large-Font-Background);
 }

body {
    background-color: var(--Body-Background-Color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 
section {
   margin: 10px;
   padding: 10px;
 } 

.About-Me {
   display: flex; 
   flex-direction: row;
   height: 200px;
} 

.About-Me h1 {
   flex: 1;
   text-align: right;
   align-self: flex-start;
   padding: 10px;
   font-size: var(--Large-Font-Size);
   font-weight: var(--Large-Font-Weight);
   color: var(--Large-Font-Color);
}

.About-Me p {
   flex: 4;
   align-self: flex-start;
   padding: 10px;
}

.About-Me figure {
   flex: 1;
   align-self: center;
}

.About-Me figure img {
   height: 175px;
   width: 150px;
   padding: 10px;
}
 
.Work-Section {
   display: flex;
   flex-direction: row;
   height: 400px;
}

.Work-Section h1 {
   flex: 1;
   text-align: right;
   align-self: flex-start;
   padding: 10px;
   font-size: var(--Large-Font-Size);
   font-weight: var(--Large-Font-Weight);
   color: var(--Large-Font-Color);
}
 
.Work-Section img {
   display: flex;
   flex: 4;
   align-self: flex-start;
   padding: 10px;
   height: 100%;
   width: 100%;
}

.Image-Row {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   height: 200px;
}

.Image-Row h1 {
   flex: 1;
   text-align: right;
   align-self: flex-start;
   padding: 10px;
}

.Image-Row img {
   flex: 2;
   padding: 10px;
   height: 100%;
   width: 100%;
}






/*
 footer {
   margin: 10px;
   padding: 10px;
   background-image: url("./images/header-background/barn-wood-2.jpeg");
 }